head{
	/*#background-color: white;*/
	background-color: #176B64;
}
body{
	/*#background-color: white;*/
	/*#color: #3B3B3B;*/
	background-color: #212121;
	color: #FEFEFE;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-right: auto;
	margin-left: auto;
	width: 90vw;
	font-size: auto;
}

h1{
	font-weight: 100;
	/*#background-color: #0898d2;*/
	background-color: #176B64;
	/*#color: white;*/
	color: #FEFEFE;
	text-align: center;
}
h2{
	/*#color: #0898D2;*/
	color: #176B64;
	text-align: center;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 5px;
	padding-bottom: 5px;
}

h3{
	
	/*#color: #0898d2;*/
	color: #176B64;
	/*padding-left: 50px;*/
}

p{
	/*#color: #3B3B3B;*/
	color: #FEFEFE;
}

footer{
	display: block;
	text-align: center;
	padding-top: device-height;
}

#grad{
	background: #30B8AD;
	background: -webkit-linear-gradient();
	background: -o-linear-gradient();
	background: -moz-linear-gradient();
	background: linear-gradient();
}

.headertable{
	border:0px;
	text-decoration:none;
	height: 10px;
	color: #176B64;
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}
.wishlist-div{
	background-color: #FEFEFE;
	color: #212121;
	margin-bottom: 50px;
	margin-top: auto;
}

.header-extension{
	text-align: center;
	background-color: #176B64;
	text-decoration:none;
	border:0px;
	margin: 0;
	border: 0;
	border-spacing:0;
	border-collapse: collapse;
	width:100%;
	margin-top:-22px;
	padding-bottom: 5px;
}

.left{
	text-align: left;
}

.headertabletab{
	background: #FEFEFE;
	color: #FEFEFE;
	
}

.wishlist-button{
	outline:#FEFEFE;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: -22px;
}
.wishlist-image{
	height:auto;
	width: 50%;
}

table{
	margin-left: auto;
	margin-right: auto;
}
tr{
	height: 20%;
}
td{
	width: 50%;
}

table.center{
	margin-left: auto;
	margin-right: auto;
}

#current_tab{
	background: #176B64;
	color: #FEFEFE;
}
button {
	color: #176B64;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	font-size: 100%;
}

*{
	#font-family: Calibri;
	font-family: Century Gothic;
}