head{
	background-color: white;
	/*#background-color: #176B64;*/
}
body{
	background-color: white;
	color: #3B3B3B;
	/*background-color: #212121;
	#color: #FEFEFE;*/
	padding-left: 300px;
	padding-right: 300px;
	
}

h1{
	font-weight: 100;
	background-color: #0898d2;
	/*#background-color: #176B64;*/
	color: white;
	/*#color: #FEFEFE;*/
	text-align: center;
}
h2{
	color: #0898D2;
	/*#color: #176B64;*/
}

h3{
	
	color: #0898d2;
	/*#color: #176B64;*/
	padding-left: 50px;
}

p{
	color: #3B3B3B;
	/*#color: #FEFEFE;*/
}

footer{
	display: block;
	padding-top: device-height;
}

#grad{
	background: #30B8AD;
	background: -webkit-linear-gradient();
	background: -o-linear-gradient();
	background: -moz-linear-gradient();
	background: linear-gradient();
}
*{
	/*#font-family: Calibri;*/
	font-family: Century Gothic;
}
