head{
	/*#background-color: white;*/
	background-color: #176B64;
}
body{
	/*#background-color: white;*/
	/*#color: #3B3B3B;*/
	background-color: #212121;
	color: #FEFEFE;
	padding-left: 10vw;
	padding-right: 10vw;
	width: 80vw;
	font-size: auto;
}

h1{
	font-weight: 100;
	/*#background-color: #0898d2;*/
	background-color: #176B64;
	/*#color: white;*/
	color: #FEFEFE;
	text-align: center;
}
h2{
	/*#color: #0898D2;*/
	color: #176B64;
}

h3{
	
	/*#color: #0898d2;*/
	color: #176B64;
	/*padding-left: 50px;*/
}

p{
	/*#color: #3B3B3B;*/
	color: #FEFEFE;
}

footer{
	display: block;
	text-align: center;
	padding-top: device-height;
}

#grad{
	background: #30B8AD;
	background: -webkit-linear-gradient();
	background: -o-linear-gradient();
	background: -moz-linear-gradient();
	background: linear-gradient();
}
.projecttable{
	
}

.vertical-divider{
	border-left: 0.1vw solid #FEFEFE;
}

.horizontal-divider{
	border-bottom: 0.1vw solid #FEFEFE;
}

.table-topic{
	text-decoration: none;
	text-align: center;
	color: #176B64;
	border:0px;
	margin: 0;
	border: 0;
	border-spacing:0;
	border-collapse: collapse;
	width:100%;
}

.list-nobullet{
	list-style-type: none;
}

img{
	max-width: 90%;
	max-height: 600px;
	height: auto;
	width:auto\9;
}

.headertable{
	border:0px;
	text-decoration:none;
	height: 10px;
	color: #176B64;
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

.header-extension{
	text-align: center;
	background-color: #176B64;
	text-decoration:none;
	border:0px;
	margin: 0;
	border: 0;
	border-spacing:0;
	border-collapse: collapse;
	width:100%;
	margin-top:-22px;
	padding-bottom: 5px;
}

.left{
	text-align: left;
}

.headertabletab{
	background: #FEFEFE;
	color: #FEFEFE;
	
}

table.center{
	margin-left: auto;
	margin-right: auto;
}

#current_tab{
	background: #176B64;
	color: #FEFEFE;
}
button {
	color: #176B64;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	font-size: 100%;
}

*{
	font-family: Calibri;
	font-family: Century Gothic;
}