/*
Colors
    #176B64
    #212121
    #FEFEFE
    #30B8AD
*/
:root{
    --main-bg-color: #212121;
    --second-bg-color: #313131;
    --main-accent-color: #176B64;
    --main-text-color: #FEFEFE;
    --second-accent-color: #30B8AD;
}

/* Global */

*{
    padding:0;
    border:0;
    margin:0;
    color:var(--main-text-color);
    background-color:var(--main-bg-color);
	font-family: "Century Gothic";
}

body{
    font-size:15px;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    bottom: 0;
}

/* Header */
header *{
    background: var(--main-accent-color);
    text-align: center;
}

header{
    width: 100%;
    background: var(--main-accent-color);
    color: var(--main-text-color);
    min-height:70px;
    border-bottom: 1px var(--main-text-color) solid;
    margin-bottom: 25px;
}

#branding *{
    padding-bottom: 10px;
    font-weight: 100;
}

/* Nav Items */

header nav *{
    background: var(--main-text-color);
    color: var(--main-accent-color);
    min-height: 25px;
    font-size: 20px;
    font-weight: bold;
}

header ul{
    width: 100%;
    margin: 0 auto;
}

.nav-multibox{
    float: left;
    width: 25%;
    text-align: center;
    background: var(--main-text-color);
    color: var(--main-accent-color);
}

header .current{
    background: var(--main-accent-color);
    color: var(--main-text-color);
}

header li{
    padding: 0;
    display: inline;
}

header button{
    text-decoration: none;
    width: 100%;
    height: auto;
}

header button:hover{
    color: var(--second-accent-color);
    background: #e1e1e1;
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

nav{
    bottom: 0;
}

.current *{
    background: var(--main-accent-color);
    color: var(--main-text-color);
}

/* Section */

section{
    margin-bottom: 45px;
}

/* Footer */
footer{
    clear: both;
    font-size:10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    position: fixed;
    width: auto;
    bottom: 0;
    right: 0;
    left: 0;

}

footer p{
    width: 40%;
    border-top: 1px var(--second-accent-color) solid;
    transform: translate(75%);
}

#fooderdiv{
    clear: both;
    font-size:10px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    position: fixed;
    width: 40%;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translate(75%);
    border-top: 1px var(--second-accent-color) solid;
    border-top-width: 25%;
}

/* Page Columns */

#center-col{
    float: none;
    width: auto;
}

#center-col *{
    color: var(--main-text-color);
    background: var(--second-bg-color);
}

#center-col article h3{
    width: auto;
    border-bottom: 1px var(--main-text-color) solid;
    background: var(--main-text-color);
    color: var(--main-bg-color);
}

#left-col{
    float:left;
    width: 48%;
}

#left-col *{
    color: var(--main-text-color);
    background: var(--second-bg-color);
}

#right-col *{
    color: var(--main-text-color);
    background: var(--main-text-color);
}

#right-col{
    float:right;
    width: 48%;
}

#right-col p{
    color: var(--main-bg-color);
    background: var(--main-text)
}
#right-col article h3{
    width: auto;
    color: var(--main-text-color);
    background: var(--second-bg-color);
}

#left-col article p, #right-col article p, #center-col article p{
    padding: 15px;
}

#left-col article h3{
    width: auto;
    border-bottom: 1px var(--main-text-color) solid;
    background: var(--main-text-color);
    color: var(--main-bg-color);
}

article h3{
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

article{
    margin-bottom: 15px;
    width: auto;
}

/* Project Items */

.project-pictures{
    display: table-cell;
    align-self: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.picture-box{
    display: inline-block;
    /*float: left; */
    width: 47.77%;
    /* width: 45%; */
    /* border: 1px var(--main-text-color) solid; */
    padding: 1%;
}

.picture-box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    align-self: center;
}

.picture-box p{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.image-button:hover{
    opacity: 0.5;
}

.image-button{
    width: 100%;
}

.solo-content{
    padding: 1%;
    width: 98%;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
}

/* For large screens */

@media only screen and (min-width: 2000px){
    .pics1 .picture-box{
        width: 100%;
    }

    .pics2 .picture-box{
        width: 47.77%;
    }

    .pics3 .picture-box{
        width: 31.333%;
    }

    .pics4 .picture-box{
        width: 24%;
    }
}

/* For mobile */
@media only screen and (max-width: 768px){
    *{
        width: auto;
    }

    #branding{
        padding-top: 20px;
        float: none;
        width: 100%;
    }

    .nav-multibox{
        float: none;
        width: 100%;
    }

    header{
        border: none;
    }
    
    header nav{
        float: none;
        width: 100%;
    }

    header .nav-multibox{
        width: auto;
        /* border-bottom:gray solid 1px; */
        margin-top: 2px;
        padding-bottom: 2px;
    }

    header .top-button{
        margin-top: 0;
    }

    header .container{
        height: inherit;
    }

    #left-col, #right-col{
        width: 100%;
        margin-bottom: 15px;
    }

    #left-col article, #right-col article{
        width: auto;
        overflow: auto;
        /* border: 1px solid var(--main-text-color); */
        margin-bottom: 15px;
    }

    #left-col{
        border-bottom: 15px var(--second-accent-color) solid;
    }
    
    #left-col article p, #right-col article p{
        width: auto;
    }

    .picture-box{
        float: none;
        width: auto;
        max-width: 100%;
        border-top: 1px solid var(--main-text-color);
    }

    .picture-box img{
        max-width: 100%;
    }

    footer p{
        width: auto;
        transform: none;
    }
}